<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body >
    <div>
        <h2>Welcome to the Authentication System</h2>
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
    </div>
</body>

</html>