<!DOCTYPE html>
<html>

<head>
    <title>Already Exists</title>
    <link rel="stylesheet" href="style.css">
</head>

<body >
    <div>
        <h2>User already exists!</h2>
        <a href="/login">Login</a>
    </div>
</body>

</html>