body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(150deg, lightgreen, yellow);
}
input {
    width: 350px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-size: 1rem;
    margin-bottom: 10px;
}
button:hover {
    background: #0056b3;

}

#container{
    width: fit-content;
    margin: 0px auto;
    padding: 5px;
    border: 2px solid black;
    background: linear-gradient(150deg, yellow, lightgreen);
}