*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000000, #00f7ff7f);
}

.appName{
    width: 100%;
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#000000;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: start;
    padding: 5px 0px;
}

.calculator{
    width: fit-content;
    height: fit-content;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.708) ;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 72px;
}

input{
    width: 320px;
    height: fit-content;
    border: none;
    border-radius: 15px;
    outline: 0.1px solid black;
    padding: 10px 15px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: end;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    background: transparent;
    box-shadow: -5px -2px 10px rgb(0, 0, 0);
}
input::placeholder{
    color: #ffffff;
}


.calculator div{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.calculator div p{
    justify-content: space-evenly;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: -5px -2px 10px rgb(0, 0, 0);
    cursor: pointer;
}
button:hover{
    transition: 0.5s;
    box-shadow: -5px -2px 10px lightblue ;
    object-position: center;
}

.equals{
    font-size: 20px;
    font-weight: bolder;
}
.operator{
    color: lawngreen;
}